{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dashboard') }}">back to list</a>

{% endblock %}
