{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title-home">Bienvenue sur notre site !</h1>
        <p class="description-home">Explorez nos fonctionnalités et profitez de nos services.</p>
        <a href="{{ path('login') }}" class="btn btn-primary">Se connecter</a>
    </div>
{% endblock %}