 {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
 {% endblock %}
{% block body %}
    <h2 class="title-login">Login</h2>
    <div class="container">
        <div class="screen">
            <div class="screen_content">
                <form class="login">
                    <div class="login_field">
                        <input type="text" class="login_input" placeholder="Email âœ‰ï¸">
                    </div>
                    <div class="login_field">
                        <input type="password" class="login_input" placeholder="Password ðŸ”’">
                    </div>
                    <button class="login_submit" type="submit">
                        Login
                    </button>
                    <p>
                        Do you have no account ? <a href="{{ path('index') }}">Register</a>
                    </p>
                </form>
            </div>
            <div class="screen__background">
                <span class="screen_background_shape screen_background_shape3"></span>
                <span class="screen_background_shape screen_background_shape1"></span>
            </div>
        </div>
    </div>
{% endblock %}